In [1]:
import pandas as pd

In [2]:
# 2 main datatypes
series = pd.Series(["BMW", "Toyota", "Honda"])

In [3]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [4]:
# series = 1-dimentional(1-column)

In [5]:
colours = pd.Series(["Red", "Blue", "White"])

In [6]:
colours

0      Red
1     Blue
2    White
dtype: object

In [7]:
# DataFrame = 2- dimentional
car_data = pd.DataFrame({"car make" : series, "colour": colours})
car_data

  car make colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

In [19]:
# personal Example
colours1 = ["Red", "Blue", "Green"]

humans = pd.DataFrame({
    "names": ["Ajiboye", "Adeoye", "Kehinde"],
    "colours": colours1
})
# takes in  dictionary 
humans

     names colours
0  Ajiboye     Red
1   Adeoye    Blue
2  Kehinde   Green

In [18]:
colours1

['Red', 'Blue', 'Green']

In [23]:
# Import data
car_sales = pd.read_csv("car_sales.csv")
car_sales

,sale_id,make,model,year,price_usd,mileage_km,transmission,fuel_type,sold_date
0,1,Toyota,Corolla,2015,9000,120000,Automatic,Petrol,2024-01-10
1,2,Honda,Civic,2018,12000,90000,Automatic,Petrol,2024-02-05
2,3,Ford,Focus,2016,7500,150000,Manual,Diesel,2024-02-18
3,4,Hyundai,Elantra,2017,8800,110000,Automatic,Petrol,2024-03-02
4,5,BMW,3 Series,2019,23000,60000,Automatic,Petrol,2024-03-15
5,6,Mercedes,C-Class,2020,28000,45000,Automatic,Petrol,2024-03-20

# Exporting a dataframe
car_sales.to_csv("exported-car-sales.csv")

In [26]:
import os
os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'car_data.xlsx',
 'car_sales.csv',
 'env',
 'heart_disease_sample.csv',
 'Introduction-to-pandas.ipynb',
 'Untitled.ipynb']

In [27]:
import glob

glob.glob("**/exported-car-sales.csv", recursive=True)

[]

In [28]:
car_sales.to_csv("exported-car-sales.csv", index=False)

In [29]:
os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'car_data.xlsx',
 'car_sales.csv',
 'env',
 'exported-car-sales.csv',
 'heart_disease_sample.csv',
 'Introduction-to-pandas.ipynb',
 'Untitled.ipynb']

In [31]:
exported_car_sales = pd.read_csv("exported-car-sales.csv")
exported_car_sales

,sale_id,make,model,year,price_usd,mileage_km,transmission,fuel_type,sold_date
0,1,Toyota,Corolla,2015,9000,120000,Automatic,Petrol,2024-01-10
1,2,Honda,Civic,2018,12000,90000,Automatic,Petrol,2024-02-05
2,3,Ford,Focus,2016,7500,150000,Manual,Diesel,2024-02-18
3,4,Hyundai,Elantra,2017,8800,110000,Automatic,Petrol,2024-03-02
4,5,BMW,3 Series,2019,23000,60000,Automatic,Petrol,2024-03-15
5,6,Mercedes,C-Class,2020,28000,45000,Automatic,Petrol,2024-03-20

# Describe data

In [36]:
# Attribute
car_sales.dtypes

sale_id          int64
make            object
model           object
year             int64
price_usd        int64
mileage_km       int64
transmission    object
fuel_type       object
sold_date       object
dtype: object

In [37]:
car_sales.columns

Index(['sale_id', 'make', 'model', 'year', 'price_usd', 'mileage_km',
       'transmission', 'fuel_type', 'sold_date'],
      dtype='object')

In [ ]:
car_sales_column