In [1]:
import pandas as pd

In [2]:
# 2 main datatypes
series = pd.Series(["BMW", "Toyota", "Honda"])

In [3]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [4]:
# series = 1-dimentional(1-column)

In [5]:
colours = pd.Series(["Red", "Blue", "White"])

In [6]:
colours

0      Red
1     Blue
2    White
dtype: object

In [7]:
# DataFrame = 2- dimentional
car_data = pd.DataFrame({"car make" : series, "colour": colours})
car_data

  car make colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

In [19]:
# personal Example
colours1 = ["Red", "Blue", "Green"]

humans = pd.DataFrame({
    "names": ["Ajiboye", "Adeoye", "Kehinde"],
    "colours": colours1
})
# takes in  dictionary 
humans

     names colours
0  Ajiboye     Red
1   Adeoye    Blue
2  Kehinde   Green

In [18]:
colours1

['Red', 'Blue', 'Green']